@if (error) {
    <app-error [error]="error"></app-error>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @if (isLoading) {
                <h1 class="text-center">Group</h1>
            } @else {
                <h1 class="text-center">{{ group.name }}</h1>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    @if (isLoading) {
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    } @else {
                        <h4 class="card-title">Name: {{ group.name }}</h4>
                        <p class="card-text">Description: {{ group.description }}</p>
                        <p class="card-text">ID: {{ group.id }}</p>
                        @if (group.users.length > 0) {
                            <div class="card">
                                <p class="card-header">Members:</p>
                                <ul class="list-group list-group-flush">
                                @for (user of group.users; track user) {
                                    <!-- Display the name, and then a button to visit the profile -->
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <span>{{ user }} @if (group.admins.includes(user)) { [Group Admin] }</span>
                                            <a [routerLink]="['/profile/', user]" class="btn btn-primary">View Profile</a>
                                        </div>      
                                    </li>
                                }
                                @if (isAdmin) {
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserModal">Add Users</button>
                                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeUserModal">Remove Users</button>
                                        </div>
                                    </li>
                                }
                                </ul>
                            </div>
                        } @else {
                            <p class="card-text">No group members</p>
                        }
                        <hr>
                        <div class="card">
                            <p class="card-header">Channels:</p>
                            <ul class="list-group list-group-flush">
                                @if (group.channels.length > 0) {
                                    @for (channel of group.channels; track channel) {
                                        <li class="list-group-item">
                                            <div class="d-flex justify-content-between">
                                                <span>{{ channelNames[$index] }} | <span class="font-monospace">channel#{{channel}}</span></span>
                                                <span class="">
                                                    <a [routerLink]="['./', channel]" class="btn btn-secondary">Chat</a>
                                                    @if (isAdmin) {
                                                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal" (click)="assignDeleteChannel(channel)">Delete</button>
                                                        <div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h1 class="modal-title fs-5" id="confirmationModalLabel">Are you sure you want to delete this channel?</h1>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="assignDeleteChannel(0)"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        This action is irreversible.
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="assignDeleteChannel(0)">Cancel</button>
                                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteChannel()">Confirm</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </span>
                                            </div>
                                        </li>
                                    }
                                } @else {
                                    <li class="list-group-item">No channels</li>
                                }
                                @if (isAdmin) {
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addChannelModal">Add Channel</button>
                                        </div>
                                        <div class="modal fade" id="addChannelModal" tabindex="-1" aria-labelledby="addChannelModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form [formGroup]="channelForm" (submit)="createChannel()">
                                                        <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="addChannelModalLabel">Add Channel</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body"> 
                                                            <div class="mb-3">
                                                                <label for="channelName" class="form-label" >Channel Name</label>
                                                                <input type="text" class="form-control" id="channelName" formControlName="channelName">
                                                                @if (channelForm.controls['channelName'].invalid && channelForm.controls['channelName'].touched) {
                                                                    <div class="text-danger">
                                                                        A channel name is required
                                                                    </div>
                                                                }
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="channelDescription" class="form-label">Description</label>
                                                                <input type="text" class="form-control" id="channelDescription" formControlName="channelDescription">
                                                                @if (channelForm.controls['channelDescription'].invalid && channelForm.controls['channelDescription'].touched) {
                                                                    <div class="text-danger">
                                                                        A channel description is required
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="button submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                @if (isAdmin) {
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteGroupModal">Delete Group</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- MODALS -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="addUserForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="addUserModalLabel">Add Users</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-control" id="username" formControlName="username">
                        <option selected disabled>Select a user to add</option>
                        @for (user of usersToAdd; track user) {
                            <option [ngValue]=user>{{ user }}</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addUser()" [disabled]="!addUserForm.valid">Add User</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="removeUserModal" tabindex="-1" role="dialog" aria-labelledby="removeUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="removeUserForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="removeUserModalLabel">Remove Users</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-control" id="username" formControlName="username">
                        <option selected disabled>Select a user to remove</option>
                        @for (user of usersToRemove; track user) {
                            <option [ngValue]=user>{{ user }}</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="removeUser()" [disabled]="!removeUserForm.valid">Remove User</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Delete Group Modal -->
<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="deleteGroupModalLabel">Delete Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this group? This action is irreversible.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteGroup()">Delete Group</button>
            </div>
        </div>
    </div>
</div>
