@if (error) {
    <app-error [error]="error"></app-error>
}
<!-- Add in 2 columns, the left one taking up 3/4 space, and the right taking up the final quarter -->
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                @if(!isLoading) {
                    <div class="card-text">
                        <h1 class="card-title">{{ channel.name }}</h1>
                        <h4 class="card-subtitle text-body-secondary">{{ channel.description }}</h4>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <p class="card-header">Channel Path</p>
                <nav class="card-text" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
                        @if(!isLoading) {
                            <li class="breadcrumb-item"><a href="/group/{{ group.id }}">{{ group.name }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ channel.name }}</li>
                        }
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <app-message-list></app-message-list>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <p class="card-header">Channel Members</p>
                <ul class="list-group list-group-flush">
                    @if (isLoading) {
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    } @else {
                        @for (user of channel.users; track user) {
                            <li class="list-group-item">
                                <span>{{ user }}@if (group.admins.includes(user)) { [Group Admin]}</span>
                            </li>
                        }
                        @if (isGroupAdmin) {
                            <li class="list-group-item d-flex">
                                <button class="btn btn-success flex-fill" data-bs-toggle="modal" data-bs-target="#addUserModal">Add Users</button>
                                <button class="btn btn-danger flex-fill" data-bs-toggle="modal" data-bs-target="#removeUserModal">Remove Users</button>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="addUserForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="addUserModalLabel">Add Users</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-control" id="username" formControlName="username">
                        <option selected disabled>Select a user to add</option>
                        @for (user of usersToAdd; track user) {
                            <option [ngValue]=user>{{ user }}</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addUser()" [disabled]="!addUserForm.valid">Add User</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="removeUserModal" tabindex="-1" role="dialog" aria-labelledby="removeUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="removeUserForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="removeUserModalLabel">Remove Users</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-control" id="username" formControlName="username">
                        <option selected disabled>Select a user to remove</option>
                        @for (user of usersToRemove; track user) {
                            <option [ngValue]=user>{{ user }}</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="removeUser()" [disabled]="!removeUserForm.valid">Remove User</button>
                </div>
            </div>
        </form>
    </div>
</div>
